.container {
  padding: 0;
}
.slide {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  height: 100vh;
}
.rsvp {
  flex: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rsvpNames {
  font-family: DahlingScriptSSi;
  font-size: 4em;
  text-align: center;
  margin-top: 1em;
  justify-self: flex-start;
}
.greenChar {
  color: var(--green);
}
.rsvpImage {
  background: url("/images/cake.jpg");
  background-position: center;
  background-size: cover;

  height: 100%;
  flex: 3;
}
.invitationBox {
  display: flex;
  margin-top: 5em;
  align-items: center;
}
.hashtag {
  transform: rotate(90deg);
  font-weight: 700;
  direction: ltr;
  font-size: 1.2em;
  cursor: pointer;
}
.invitationDate {
  font-size: 1.5em;
}
.invitationTitle {
  font-size: 2em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-weight: 500;
  color: var(--green);
}
.invitationText {
  margin-top: 1em;
  font-size: 1.3em;
}
.buttonsContainer {
  margin-top: 1em;
  display: flex;
}
.button {
  flex: 1;
  margin: 0 0.5em;
  font-family: iransans;
  border: none;
  background-color: var(--black);
  border: var(--black) 1px solid;

  border-radius: 0;
  color: white;
  font-size: 1.1em;
  padding: 0.5em;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}
.buttonAccept {
  background-color: var(--green);
  border-color: var(--green);
}
.button:hover {
  background-color: white;
  color: var(--black);
}
.buttonAccept:hover {
  color: var(--green);
}
.addressButtonContainer {
  display: flex;
  margin-top: 2em;
  justify-content: center;
}
.addressButton {
  background: white;
  border: none;
  color: var(--green);
  margin-top: 2em;
  text-align: center;
}
.addressButton:hover {
  background: var(--green);
  color: white;
}
.addressSlide {
  background: var(--green);
  color: white;
  padding: 1em;
  flex-direction: column;
}
.slideTitle {
  text-align: center;
  align-self: center;
}
.address {
  margin: 1em 0;
  text-align: center;
  font-size: 1.2em;
}
.addressTitle{
  font-weight: 500;
}
.locationIcon {
  width: 1em;
  height: 1em;
  background-image: url("/icons/location.svg");
  background-size: contain;
  filter: invert(1);
  margin-left: 0.2em;
}
.mapContainer {
  width: 100%;
  height: 40vh;
}
.navigation{
  background: white;
  border-radius: 5px;
  margin-top: 1em;
  color: var(--black);
  text-align: center;
  padding: 1em;

}
.navigationTitle {
  font-size: 2em;
}

.navigationLinks{
  padding: 1em;

}
.navigationLinks a{
  margin: 1em;
}
.navigationLinks img {
  height: 7em;
}
@media (max-width: 1440px) {
  .slide {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .slide {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .slide {
    width: 95%;
    font-size: 10px;
    flex-direction: column;
  }
  .rsvpImage {
    width: 100%;
  }
}
